html {
	font-family: "Helvetica", "Times New Roman";
}

header {
	display: flex;
	background: lightgray;
	height: 50px;
	width: 100vw;
	justify-content: space-between;
}

.infomedia-banner {
	display: flex;
	align-self: flex-start;
	margin-left: 10px;
	margin-top: 10px;
}

.sokbar {
	margin-left: auto;
}

.sok {
	margin-right: 10px;
	margin-top: 10px;
}

.avansertsok {
	margin-right: 10px;
	margin-top: 10px;
}

main {
	display: flex;
	width: 80%;
	flex-grow: 1;

}

.bilde {
	width: 220;
	height: 315;
	margin: 5px;
	order: 1;
}

.info {
	order: 2;
	margin: 5px;
}

.video {
	margin: 5px;
	order: 3;
 	width: 560px;
 	height: 315px;
}
