html {
	font-family: "Arsenal", "Times New Roman";
	height: 100%;
}
body {
	background: white;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

header {
	display: flex;
	background: lightgray;
	height: 50px;
	width: 100vw;
	justify-content: space-between;
}

.infomedia-banner {
	display: flex;
	align-self: flex-start;
	margin-left: 10px;
	margin-top: 10px;
}

.search {
}

.sok {
	margin-right: 10px;
	margin-top: 10px;
}

main {
	display: flex;
	flex: 1;
	justify-content: space-around;
	align-items: center;
	padding: .5rem;
}

.panel {
	flex: 1;
	height: 100vw;
}

.main-content {
	background: white;
	flex-grow: 2;
	order: 2;
}


.left {
	background: #30F6EB;
	order: 1;
}

.right {
	background: #52FA41;
	order: 3;
}

footer {
	background: lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .5rem;
}