html {
	font-family: "Helvetica", "Times New Roman";
}

main {
	display: flex;
	width: 65%;
	background: #D3D3D3;
	justify-content: space-around;}

.overskrift {

}

.bilde {
	width: 220;
	height: 315;
}

.info {
	list-style-type: none;
}
