		/* Midlertidig bakgrunnsbilde */
		body {
			background-image: url(Bakgrunn.png);
			margin: 0;
			padding: 0;
		}

		html {
			height: 100%;
		}

		body {
			display: flex;
			flex-direction: column;
			min-height: 100%;
		}

		.MainContent {
			flex: 1;
			color: #333;
			padding: .5rem;
		}

		.Footer {
			padding: .5rem;
		}

		.FlexWrapper {
			background-color: blue;
			display: flex;
			justify-content: space-between;
			height: 200px;
			width: 100%;
		}

		.FlexItems {
			background-color: green;
			border: 1px solid #ebebeb;
			display: flex;
			height: 100px;
		}

		.Middle {
			flex: 1.5 0 auto;
		}

		.Left,
		.Right {
			flex: 1 0 auto;
		}



