
body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
	display: flex;
	background-color: #f1f1f1;
	color: white;
	justify-content: space-between;
	padding-bottom: 5px;
}

.infomedia-banner {
	height: 12px;
	width: 180px;
}

.searchInput {
	border-radius: 15px;
	border: 1px;
	width: 60px;
}

.søkButton {
	border-radius: 15px;
	border: 1px;
}


main {
	display: flex;
	align-self: stretch;
	flex-direction: column;
}

.panel {
	flex: 1;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

.main-content {
	background: white;
	flex-grow: 2;
	order: 2;
}


.left {
	display: flex;
	background: #30F6EB;
	order: 1;
	justify-content: center;
}

.right {
	background: #52FA41;
	order: 3;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
}

a:active {
	color: grey;
}

footer {
	background: lightgray;
	display: flex;
	padding: .5rem;
}