
body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
	display: flex;
	background-color: #f1f1f1;
	justify-content: space-between;
	padding-bottom: 5px;
}

.infomedia-banner {
	height: 12px;
	width: 180px;
}

.searchInput {
	border-radius: 15px;
	border: 1px;
	width: 60px;
}

.søkButton {
	border-radius: 15px;
	border: 1px;
}

main {
	display: flex;
	flex-direction: column;
}

.mainSection {
	display: flex;
	background-color: white;
	order: 1;
	flex-grow: 1;
	flex-direction: column;
}

.bilder {
	order: -1;
	display: flex;
	flex-wrap: wrap;
}

.forsideBilde {
	height: 200px;
	width: 150px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	order: -1;
}

.minListeButton {
	display: flex;
	padding: 2px;
	background-color: #f1f1f1;
	border-radius: 15px;
	width: 90px;
	height: 35px;
	font-size: 12px;
	order: 0;
	font-family: helvetica;
	font-weight: bold;
	justify-content: space-around;
	align-items: center;
	margin-top: 5px;
	order: 2;

}

a:link {
	text-decoration: none;
}

.ikon {
	height: 30px;
	width: 30px;
}

.overskrift {
	font-weight: bold;
}

.info {
	order: 2;
}

.video {
	flex-grow: 1;
	padding-top: 5px;
	padding-bottom: 5px;
	order: 3;
}

.aside {
	display: flex;
	order: 2;
	justify-content: space-around;
	padding-bottom: 5px;
}

.skuespiller {
	font-size: 12px;
	display: flex;
	flex-direction: column;
	width: 50px;
	background-color: #f1f1f1;
	border-radius: 10px;
	padding: 4px;
	justify-content: flex-start;
}

.skuespillerBilde{
	height: 75px;
	width: 50px;
	border-radius: 15px;
}

footer {
	background-color: lightblue;
	color: white;
	border-top: 5px;
}

@media (min-width: 768px) {


	main {
		display: flex;
		flex-direction: row;
	}

	.mainSection {
		flex-direction: column;
	}

	.aside {
		flex-direction: column;
		margin-left: 10px;
		justify-content: flex-start;
		margin-top: 5px;
	}

	.skuespiller {
		margin-top: 10px;
		width: 80px;
		justify-content: center;
	}

	.info {
		order: 4;
		width: 60%;
		margin-left: 210px;
	}

	.skuespillerBilde {
		height: 110px;
		width: 80px;
	}

	.video {
		flex-grow: 0;
		order: 2;
		width: 440px;
		height: 275px;
	}

	.bilder {
		flex-wrap: wrap;
		margin-top: 10px;
		flex-grow: 1;
	}

	.forsideBilde {
		height: 275px;
		width: 200px;
		order: 1;
	}

	.minListeButton {
		order: 3;
	}

	.searchInput {
		width: 150px;
		height: 20px;
		margin-top: 5px;	
	}

	.infomedia-banner {
		width: 350px;
		height: 20px;
		margin-top: 5px;
	}

}
