body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
	display: flex;
	background-color: #f1f1f1;
	justify-content: space-between;
	margin-bottom: 10px;
}

.infomedia-banner {
	height: 12px;
	width: 180px;
}

.searchInput {
	border-radius: 15px;
	border: 1px;
	width: 60px;
}

.søkButton {
	border-radius: 15px;
	border: 1px;
	margin-right: 5px;
}

main {
	display: flex;
	flex-direction: column;
}

.mainSection {
	display: flex;
	background-color: white;
	order: 1;
	flex-grow: 1;
	flex-direction: column;
}

.minListeButton {
	display: flex;
	padding: 2px;
	background-color: #f1f1f1;
	border-radius: 15px;
	width: 90px;
	height: 35px;
	font-size: 12px;
	font-family: helvetica;
	font-weight: bold;
	justify-content: space-around;
	align-items: center;
	margin-top: 5px;
	order: 2;
}

.star {
	font-size: 40px;
}

.vurdering {
	display: flex;
	flex-direction: row;
	padding: 2px;
	background-color: #f1f1f1;
	border-radius: 15px;
	order: 3;
	margin-left: 10px;
	margin-top: 5px;
	width: 100px;
	height: 35px;
	align-items: center;
	justify-content: space-around;
	font-family: helvetica;
	font-size: 12px;
	font-weight: bold;
}

.forsideInnhold {
	order: -1;
	display: flex;
	flex-wrap: wrap;
}

.forsideBilde {
	height: 200px;
	width: 150px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	order: -1;
}

.video {
	flex-grow: 1;
	padding-top: 5px;
	padding-bottom: 5px;
	order: 3;
	height: 220px;
}

a:link {
	text-decoration: none;
}

.ikon {
	height: 30px;
	width: 30px;
}

.overskrift {
	font-weight: bold;
}

.info {
	order: 2;
	font-family: helvetica;
}

.aside {
	display: flex;
	order: 2;
	justify-content: space-around;
	padding-bottom: 5px;
}

.skuespiller {
	font-size: 12px;
	display: flex;
	flex-direction: column;
	width: 50px;
	background-color: #f1f1f1;
	border-radius: 10px;
	padding: 4px;
	justify-content: flex-start;
}

.skuespillerBilde{
	height: 75px;
	width: 50px;
	border-radius: 15px;
}

footer {
	background-color: lightblue;
	color: white;
	border-top: 5px;
}

@media (min-width: 768px) {

	body {
		display: flex;
		align-items: center;
	}

	main {
		display: flex;
		flex-direction: row;
		width: 768px;
	}

	header {
		width: 100%;
	}

	footer {
		width: 100%;
	}

	.mainSection {
		flex-direction: column;

	}

	.aside {
		flex-direction: column;
		margin-left: 10px;
		justify-content: flex-start;
	}

	.skuespiller {
		margin-top: 10px;
		width: 80px;
		justify-content: center;
	}

	.info {
		order: 4;
		width: 440px;
		margin-left: 207px;
	}

	.overskrift {
		font-size: 20px;
	}

	.skuespillerBilde {
		height: 110px;
		width: 80px;
	}

	.video {
		flex-grow: 0;
		order: 2;
		width: 440px;
		height: 275px;
	}

<<<<<<< HEAD
<<<<<<< HEAD
	.Bilder {
		height: 315px;
=======
	.bilder {
=======
	.forsideInnhold {
>>>>>>> ebaf585759c024ee211baaa68553bb2d8dd7462a
		flex-wrap: wrap;
		flex-grow: 1;
	}

	.forsideBilde {
		height: 275px;
>>>>>>> bfb6e5d8e9d255fe5b4275353aa8bfa8013070d3
		width: 200px;
		order: 1;
	}

	.minListeButton {
		order: 3;
	}

	.searchInput {
		width: 150px;
		height: 20px;
		margin-top: 5px;	
	}

	.infomedia-banner {
		width: 350px;
		height: 20px;
		margin-top: 5px;
	}
}
